<div class='row'>
    	<div class='col-md-4'>
    			<h4>A few things about me</h4>
    			<p>I guess i'm a very typical young male programmer. My main interests are technology, science and engineering and i really like fast cars. I'm logical or as some would say left brained, but I can be creative when i need to be.I pride myself on ability to handle things dispassionately and on being thick skinned.</p>

    			
    			<p>Here is a list of things I would like to study and may someday when I can afford to.</p>

    			<ul>
    				<li>computer science</li>
    				<li>systems analysis</li>
    				<li>electronics engineering</li>
    			</ul>

    	</div>
    	<div class='col-md-4'>
	    		<h4>Education and career goals</h4>
	    		<p>I am a budding programmer and web developer currently finishing a diploma at georgian college. After I am finished I intend to find a job doing some sort of web programming, but freelance work is not out of the question.</p>
    	</div>
    	<div class='col-md-4'>
    			<h4>Established skills</h4>
    			<ul>
    				<li>html & css</li>
    				<li>jquery and basic javascript</li>
    				<li>basic php</li>
    				<li>basic sql & mysql rdms</li>
    			</ul>
    			<h4>Skills being learned</h4>
    			<ul>
    				<li>linux</li>
    				<li>node.js</li>
    				<li>the express node framework</li>
    				<li>the laravel php framework</li>
    				<li>object oriented programming in java</li>
    			</ul>
	   	</div>
    </div>