<div class="row">
	  		<div class='col-md-6'>
	  		<p>
	  			Welcome to my web development portfolio. This site is an exercise in using the now prominent server site javascript technology node.js, with the express framework. This site will be deployed using the microsoft azure cloud hosting service.
	  		</p>
	  		</div>
	  		<div class='col-md-6'>
	  		</div>
</div>