<!-- comment header Author: Mckenzie Rockwell, website: portfolio, filename: home.js, description: A view template for the home page-->
<!DOCTYPE html>
<html>
  <head>
 		<% include partials/head %>
  </head>
  <body>
  		<% include partials/header %>
	  	<div class="page-header">
	  		<h3 style="text-align:center">Home</h3>
	  	</div>
	  	<div class="row">
	  		<div class='col-md-6'>
	  		<p>
	  			Welcome to my web development portfolio. This site is an exercise in using the now prominent server site javascript technology node.js, with the express framework. This site will be deployed using the microsoft azure cloud hosting service.
	  		</p>
	  		</div>
	  		<div class='col-md-6'>
	  		</div>
	  	</div>
  </body>
</html>
 