<!DOCTYPE html>
<html>
  <head>
 		<% include partials/head %>
  </head>
  <body>
  		<% include partials/header %>
	  	<div class="page-header">
	  		<h1 style="text-align:center">Home</h1>
	  	</div>
	  	<div class="row">
	  		<div class='col-md-6'>
	  		<p>
	  			Welcome to my web development portfolio. This site is an exercise in using the now prominent server site javascript technolog node.js, with the express framework. This site will be deployed using the microsoft azure cloud hosting service.
	  		</p>
	  		</div>
	  		<div class='col-md-6'>
	  		</div>
	  	</div>
  </body>
</html>
 