<!DOCTYPE html>
<html>
  <head>
 		 
  <meta name="McKenzie Rockwell" content="my online portfolio">

  <meta name=”viewport” content=”width-device-width, initial-scale=1.0”>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>

  <link rel="stylesheet" href="/stylesheets/style.css"/>

  <link rel="stylesheet" href="/stylesheets/mystyles.css"/>
  
  </head>
  <body>
  	<ul id="navbar" class="nav nav-tabs navbar-fixed-top">

		<li <% if (locals.page === 'home') { %>class='active'<% } %>><a href="/">Home</a></li>


		<li <% if (locals.page === 'about') { %>class='active'<% } %>><a href="/about">About me</a></li>


		<li <% if (locals.page === 'services') { %>class='active'<% } %>><a href="/services">Services</a></li>


		<li <% if (locals.page === 'projects') { %>class='active'<% } %>><a href="/projects">Projects</a></li>


		<li <% if (locals.page === 'contact') { %>class='active'<% } %>><a href="/contact">Contacts me</a></li>

	</ul>

	<div class="page-header">
			<h3 style="text-align:center"> Mckenzie Rockwell's web portfolio</h3>
			<h3 class="centered"><%= locals.title %></h3>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="/bootstrap/js/bootstrap.min.js">
	</script>

  		<%- body %>

  	<script>


  	var navbar = $('#navbar');

  	if (matchMedia)
  	{
  		var mq = window.matchMedia("(max-width: 575px)"); 
  		mq.addListener(isAsShorter);
  		isAsShorter(mq);

  		var mq1 = window.matchMedia("(min-width: 576px");
  		mq1.addListener(isWider);
  		isWider(mq1);
  	}

  	function isAsShorter(mq){
  		console.log(mq);
  		if(mq.matches){
  			console.log(mq); 

  			navbar.removeClass("nav-tabs");

  			navbar.addClass("nav-pills"); 

  		}
  	}

  	function isWider(mq1){

  		if(mq1.matches){
  			
  			console.log(mq1); 

  			navbar.removeClass("nav-pills"); 

  			navbar.addClass("nav-tabs"); 

  		}
  	}


  	</script>

  </body>
</html>

