<!-- comment header Author: Mckenzie Rockwell, website: portfolio, filename: projects.js, description: An ejs view template for the projects page-->
<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/header %>
	</body>
<html>
