<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/header %>
		<div class="page-header">
			<h1 style="text-align:center">Projects</h1>
		</div>
	</body>
<html>
