<div class='row'>
	<div clas="col-md-8 col-md-offset-2">
		<div class="panel panel-default" ng-app='todoList'>
				<ul class='list-group' ng-controller='listController as list'>
					<li class='list-group-item'>
						<div class='row'>
							<div class='col-md-3'>
								<h4>Task Name</h4>
							</div>
							<div class='col-md-5'>
								<h4>Note</h4>
							</div>
							<div class='col-md-2'>
								<h4>Completed</h4>
							</div>
							<div class='col-md-2'>
								<h4>Edit</h4>
							</div>
						</div>
					</li>
					<li class='list-group-item' ng-repeat='item in list.items'>
					<div class='row' ng-controller='itemController as itemCtrl'>
						<div class='col-md-3'>
							<input class='form-control' type='text' ng-model='item.name' ng-disabled='!item.editMode'>
						</div>
						<div class='col-md-5'>
							<input class='form-control' type='text' ng-model='item.notes' ng-disabled='!item.editMode'>
						</div>
						<div class='col-md-2'>
							<input type='checkbox' ng-model='item.completed'> 
						</div>
						<div class='col-md-1'>
							<input type='checkbox' ng-model='item.editMode'>
						</div>
						<div class='col-md-1'>
							<button type='button' class='btn btn-default' ng-disabled='!item.editMode' ng-show='item.editMode'>Save</button>
						</div>
					</div>
					</li>
					<li class='list-group-item'>
						<form class='form-horizontal' ng-controller='newitemController as new' ng-submit="new.addItem(list.items)">
							<div class='form-group'>
								<label for='nameInput' class='col-md-1 control-label'>Name:</label>
								<div class='col-md-3'>
									<input ng-model='new.newitem.name' name='name' type='text' class='form-control'>
								</div>
								<label for='noteInput' class='col-md-1 control-label'>Note:</label>
								<div class='col-md-4'>
									<input id='noteInput' ng-model='new.newitem.notes' class='form-control' name='notes' type='text'>
								</div>
								<div class='col-md-1 col-md-offset-2'>
									<button type='submit' class='btn btn-default'>add</button>
								</div>
							</div>
						</form>
					</li>
				</ul>
		</div>
	</div>
</div>