/**
These are the css rules I have added. These rules along
with the styling provided by bootstrap, and the basic default
sheet the comes with express provide all styling **/

html{
  position:relative; 
  min-height: 100%;
}


.contactme {
	float: right;
}

.formrow{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#sendbutton{
	width: 50%;
	background-color:#67ea4d ;
}

#contactPara{
	font-size: 18px; 
}



.navregions {
	background-color: #bad7de; 
}

#navbar a:active  {
	background-color: #f2f2fd;
}

#navlist a {
	color: #3f6c3d;
}

.delbutton {
	background-color: #d37b3c; 
	color:#ffffff ;
	width: 100%;
}

.editbutton {
	background-color:#acd75b;
	color:#ffffff;
	width: 100%;

}


#privatenav {
	width: 40%;
}

.nav-pills li{
	background-color: #dfd89f; 

} 

.nav-pills>li.active>a {
	background-color: white;
}





@media handheld, (max-width: 400px) {

	h3, p, label  {
		font-size: 0.75em;
	}



}
