/**
These are the css rules I have added. These rules along
with the styling provided by bootstrap, and the basic default
sheet the comes with express provide all styling **/

html{
  position:relative; 
  min-height: 100%;
}


.contactme {
	float: right;
}

.formrow{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

#sendbutton{
	width: 50%;
	background-color:#67ea4d ;
}

#contactPara{
	font-size: 18px; 
}