
body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:#f2f2fd;
}

.centered {
	display: block;
	clear:both;
	float: none;
	text-align: center;
}












