<!-- comment header author: Mckenzie Rockwell, website: portfolio, filename: contactme.js, description ejs view template for the contact me page-->
<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/header %>
		<div class="row">
			<div class="col-md-6">
				<form method="post">
					<div class="row formrow">
						<div class='col-md-4'>
							<label class="contactme">Name:</label>
						</div>
						<div class='col-md-8'>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row formrow">
						<div class='col-md-4'>
							<label class="contactme">Email:</label>
						</div>
						<div class='col-md-8'>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row formrow">
						<div class='col-md-4'>
							<label class="contactme">Message:</label>
						</div>
						<div class='col-md-8'>
							<textarea name="messagebox" rows="4" class='form-control'>
							</textarea>
						</div>
					</div>
					<div class="row formrow">
						<div class='col-md-8 col-md-offset-4'>
							<button id="sendbutton" type='submit' class='form-control'>Send</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-md-6">
				<div class='row formrow'>
					<p id="contactPara">If you wish, you may send me an email with the form on the right.</p>
				</div>
			</div>
		</div>
	</body>
</html>