<!-- comment header author: Mckenzie Rockwell, website: portfolio, filename: services.js, and ejs view template for the services page-->
<!DOCTYPE html>
<html>
  <head>
  		<% include partials/head %>
  </head>
  <body>
  		<% include partials/header %>
  		<div class="row">
  			<div class='col-md-6'>
  				<p>At present I don't offer any services<p>
  			</div>
  		</div>
  </body>
</html>